---
layout: base.njk
title: PostgREST authentication
---
<main class="container">
    <section id="hide-elem2" class="mx-auto max-w-40">
        <form id="formSubmit" >
            <label for="email">Your email:</label>
            <input type="email" id="email" name="email" placeholder="contact@email.com" />
            <label for="pass">Password:</label>
            <input type="password" id="pass" name="pass" placeholder="*******" />
            <button type="submit" role="button">Submit</button>
        </form>
    </section>
</main>
