---
layout: base.njk
title: PostgREST authentication
---
<main class="container">
    <section id="hide-elem2" class="mx-auto max-w-40">
        <div id="hide-elem" class="duration-300 transition-opacity">
            <p>Test Should be hidden by js</p>
        </div>
    </section>
</main>
